################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Fare-Matrix-CPY/Fare-Matrix-CPY/obj/Debug
